body{
           
    /* background-image: url(./images/backgroundimage.png);
    background-repeat: no-repeat;
    background-size: 80% 100%;     */
    background-color:rgb(150, 120, 85);
    text-decoration: none;
    color:silver;
    margin:0;
    z-index: 0;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal
}

header{
    text-align: center;
    display: inline;
}
nav{
    text-align: center;
}

a{

    border-style: solid;
    border-color: white;
    color:white;
    text-decoration: none;
  
}
a:hover{
    color:black;
    border-color: black;
}

/* main{
    /* background-image: url(./images/citysimplesteampunk.webp); 

} */

article{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color:rgba(0, 0, 0, 0.8);
    z-index: 2;
    overflow:auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding:1%;

}
h1{
    text-align: left;
}
p{
    font-size: 130%;
    text-align: justify;
}
img{
    margin-left: 2%;
}
footer{
    left: 0;
    bottom: 0;
    width: 100%;
    color: silver;
    text-align: center;
}

.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
  }
  .nava{
    text-align: center;
    padding:1%;
    margin:1%;
  }
#images {
    display: inline;
}
#shoulderright{
float:right;
position: relative;
height:15%;
width:15%;
}
#shoulderleft{
float:left;
position: relative;
height:15%;
width:15%;
}

#logo{
    height:150px;
    width: 200px;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}
#articlepic{
    float:right;
    height:20%;
    width:20%;
    border-radius:20px;
    border-style:solid;
    border-color:  rgba(0, 0, 0, 0.8);
}
#articlepic2{
    margin-right:1%;
    text-align: left;
    float:left;
    height:20%;
    width:20%;
    border-radius:20px;
    border-style:solid;
    border-color:  rgba(0, 0, 0, 0.8);
}
.articlelink{
  text-align: right;
  color: silver;
  margin-top:5%;
  padding:1%;
  border-radius: 20px;

}
.articlelink:hover{
  color:rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}
#bottomright{
float:right;
position: relative;
height:15%;
width:15%;
margin-right: -5%;
margin-bottom: -20%;
}
#bottomleft{
float:left;
position: relative;
height:15%;
width:15%;
margin-left: -5%;
margin-bottom: -20%;
}

@keyframes slideInFromLeft {

    0% { transform: translateX(-100%); opacity: 0; }

    100% { transform: translateX(0); opacity: 1; }

}
.appear {

    animation: slideInFromLeft 1s ease-in-out;

}
